<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Page</title>
</head>
<body>
    <header>

        <h1>
            <img id="catImage1" src="/templates/catIcon.png" alt="Cat Image">
            Cat Subreddit of the Day!
            <img id="catImage2" src="/templates/catIcon.png" alt="Cat Image">
        </h1>

    </header>

    <div id="content-container">
        <div id="randomCatData"></div>
        <table id="data-table"></table>
        <div id="backgroundImage"></div>
    </div>

    <footer>
        <img id="catImage3" src="/templates/catIcon.png" alt="Cat Image">
        &copy; 2023 Cat Page
        <img id="catImage4" src="/templates/catIcon.png" alt="Cat Image">
    </footer>

    <script src="/templates/script.js"></script>
</body>
</html>